{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row mt-4">
            {% for image in images %}
            <div class="col-6">
                <img src="{{ image.path }}" alt="{{ image.alt }}" class="img-fluid">
                <div>
                    Klassifizierung für {{ image.alt }}:
                    <select name="classification">
                        <option value="gut">gut</option>
                        <option value="schlecht">schlecht</option>
                    </select>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-3">
            <input type="submit" value="Bilder klassifizieren">
        </div>
    </form>
</div>
{% endblock %}